<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>AECC-UPRRP - Home</title>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='images/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='images/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='images/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='images/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/modern-business.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--Navigation Bar  -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="index.html" style="padding: .45em;">
                    <img src="images/aecc-logo.png" alt="Logo AECC"
                         style="width:1.8em;height:1.8em;border:0.1em solid #aaaaaa; border-radius: 0.3em;
                                 display: inline; margin: 0em 0.2em 0.2em 0em; " />AECC@UPRRP</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li> <a href="/index.html">Home</a> </li>
                    <li> <a href="about.html">About us</a> </li>
                    <!--- Commenting out services from the nav bar for now
                    <li>
                        <a href="services.html">Services</a>
                    </li> -->
                    <li> <a href="contact.html">Contact us</a> </li>
                    <li> <a href="portfolio.html">Our Portfolio</a> </li>
                    <li> <a href="blog.html">Announcements</a> </li>
                    <li> <a href="activities.html">Activities</a> </li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li> <a href="https://www.facebook.com/aeccupr/">Our Facebook Page</a> </li>
                            <li> <a href="https://www.facebook.com/includeGirls/">Include Girls UPRRP's FB page</a> </li>
                            <li> <a href="faq.html">FAQ</a> </li>
                            <li> <a href="pricing.html">Store</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3" class="active"></li>
        </ol>
        <!-- Wrapper for slides -->
      <div class="carousel-inner">
    <div class="item active">
        <div class="fill" style="background-image:url('{{ url_for('static', filename='images/feria-2016.jpg') }}'); padding-bottom: 60%;"></div>
        <div class="carousel-caption">
            <h2 style="color: #EFF; text-shadow: 0.5em 0.5em 0.5em #111">UPRRP Student Organization Fair 2016-2017</h2>
        </div>
    </div>
    <div class="item">
        <div class="fill" style="background-image:url('http://ccom.uprrp.edu/~acm/wp-content/uploads/2014/01/acm-fb-banner.png');"></div>
        <div class="carousel-caption">
            <h2 style="color: #010; text-shadow: 0.5em 0.5em 0.5em #111">Official ACM Chapter</h2>
        </div>
    </div>
    <div class="item">
        <div class="fill" style="background-image:url('{{ url_for('static', filename='images/hackpr-2016.jpg') }}'); padding-bottom: 50%"></div>
        <div class="carousel-caption">
            <h2 style="color: #EFF; text-shadow: 0.5em 0.5em 0.5em #111">Our members at HackPR 2016</h2>
        </div>
    </div>
    <div class="item">
        <div class="fill" style="background-image:url('{{ url_for('static', filename='images/unity-1.jpg') }}'); padding-bottom: 55%;"></div>
        <div class="carousel-caption">
            <h2 style="color: #EFF; text-shadow: 0.5em 0.5em 0.5em #111">Full House at the Unity VR Workshop!</h2>
        </div>
    </div>
</div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"> <span class="icon-prev"></span> </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"> <span class="icon-next"></span> </a>
    </header>




    <!-- Page Content -->
    <div class="container">
        <!-- Welcome message -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    The 2019-20's AECC (Asociación Estudiantil de Ciencia de Cómputos) welcomes you to its official landing page.<br>
                    <small><em>Here you can learn more about our plans for the 2019-20 academic year.</em></small>
                </h1> </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Conferences </h4> </div>
                    <div class="panel-body">
                        <p class="text-justify">Throughout the year the AECC works hard to bring the best conferences to our students, our university, and the general public. We encourage you to either sponsor or participate in one of these talks. Our conferences focus on helping our members get ahead by preparing you for what is ahead during your academic and professional career by covering topics and technologies that aren't covered in class and are useful to any future computer scientist.
                            <!-- To get ahead and view the different topics that will be covered during the conferences this year click the "See Conferences" button below. -->
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-file-code-o"></i> Workshops </h4> </div>
                    <div class="panel-body">
                        <p class="text-justify">We believe that providing our members with a hands-on experience is the best way to help them get prepared for their future as a professional in the many fields a degree in Computer Science offers to them. It is for this reason that we invite you to save the date early on and never miss one of our Workshops. Our Workshops cover a broad range of topics in the field so there's something for everyone.
                            <!-- To get ahead and view the different topics that will be covered during the workshops this year click the "See Workshops" button below. -->
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-coffee"></i> Activities </h4> </div>
                    <div class="panel-body">
                        <p class="text-justify">It is very important for us to network and interact in as many different ways as possible. You know, outside of the classroom where we can share new, different and interesting ideas, and just get to know new people. Also, if you have a project you're working on and would like to present it to others to get some feedback and maybe get others to join, just let us know. We want to foster a strong sense of community in our members because we believe it is a vital trait inside and outside the classroom.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- What we do section. we need better pics. gif is not exactly light. wish webm was more universal. will find alternative -->
      <div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">This is what we do:</h2>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="{{ url_for('static', filename='images/primera-2016.jpg') }}">
            <img style="max-height:450px;" class="img-responsive img-portfolio img-hover" src="{{ url_for('static', filename='images/primera-2016.jpg') }}" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="{{ url_for('static', filename='images/orientacion-prepas-2016.jpg') }}">
            <img style="max-height:450px;" class="img-responsive img-portfolio img-hover" src="{{ url_for('static', filename='images/orientacion-prepas-2016.jpg') }}" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="{{ url_for('static', filename='images/unity-selfie.jpg') }}">
            <img style="max-height:450px;" class="img-responsive img-portfolio img-hover" src="{{ url_for('static', filename='images/unity-selfie.jpg') }}" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="{{ url_for('static', filename='images/include-2016-2.jpg') }}">
            <img class="img-responsive img-portfolio img-hover" src="{{ url_for('static', filename='images/include-2016-2.jpg') }}" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="{{ url_for('static', filename='images/hack.gif') }}">
            <img class="img-responsive img-portfolio img-hover" src="{{ url_for('static', filename='images/hack.gif') }}" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="{{ url_for('static', filename='images/unity-2.jpg') }}">
            <img class="img-responsive img-portfolio img-hover" src="{{ url_for('static', filename='images/unity-2.jpg') }}" alt="">
        </a>
    </div>
</div>



        <!-- /.row -->
        <hr>
        <!-- Signup and donation buttons.  -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <br>
                    <p class="text-justify">Want to join? <strong>Become a member of the AECC.</strong></p>
                </div>
                <div class="col-md-4"> <a class="btn btn-lg btn-primary btn-block" href="/signup.html"> Join! </a> </div>
                <!--  This is currently breaks alignment and is kind of redundant since it is covered in the FAQ
                <div class="col-md-8">
                    <p class="text-justify"> We recommend you learn more about the ACM! </p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="http://ccom.uprrp.edu/~acm/">Learn More about the ACM!</a>
                </div>
                -->
                <div style="height:5%"> </div>
                <div class="col-md-8">
                    <p class="text-justify">You may also <strong>become a member of the ACM</strong>, which grants you
                        an AECC membership. We recommend you learn more from
                        <a href="http://www.acm.org/about-acm/about-the-acm-organization" target="_blank">
                        <strong>the ACM's site</strong></a> or from
                        <a href="https://aecc-uprrp.github.io/faq.html"><strong>our FAQ.</strong></a>
                    </p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-primary btn-block" href="https://campus.acm.org/public/qj/quickjoin/qj_control.cfm?promo=PWEBTOP&form_type=Student"> Join ACM and AECC! </a> </div>
                <div class="col-md-8">
                    <p class="text-justify">If you have any questions about us or our memberships check our our
                        <a href="./faq.html">FAQ</a>, <a href=""></a></p>
                </div>
                <div class="col-md-4"> <a class="btn btn-lg btn-default btn-block" href="/donate.html">Sponsor or Donate</a> </div>
            </div>
        </div>
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; AECC-UPRRP 2018
                        <br>Using The Modern Business template by Start Bootstrap</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 10000 //changes the speed
        })
    </script>
</body>

</html>
