<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>AECC-UPRRP - Portfolio</title>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--Navigation Bar  -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="index.html" style="padding: .45em;">
                    <img src="images/aecc-logo.png" alt="Logo AECC"
                         style="width:1.8em;height:1.8em;border:0.1em solid #aaaaaa; border-radius: 0.3em;
                                 display: inline; margin: 0em 0.2em 0.2em 0em; " />AECC@UPRRP</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li> <a href="/index.html">Home</a> </li>
                    <li> <a href="about.html">About us</a> </li>
                    <!--- Commenting out services from the nav bar for now
                    <li>
                        <a href="services.html">Services</a>
                    </li> -->
                    <li> <a href="contact.html">Contact us</a> </li>
                    <li> <a href="portfolio.html">Our Portfolio</a> </li>
                    <li> <a href="blog.html">Announcements</a> </li>
                    <li> <a href="activities.html">Activities</a> </li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li> <a href="https://www.facebook.com/aeccupr/">Our Facebook Page</a> </li>
                            <li> <a href="https://www.facebook.com/includeGirls/">Include Girls UPRRP's FB page</a> </li>
                            <li> <a href="faq.html">FAQ</a> </li>
                            <li> <a href="pricing.html">Store</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Past AECC Activities
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a> </li>
                    <li class="active">Portfolio</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row-->

        <div class="row">

            <div class="col-md-6 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="images/arduino-workshop.png" alt="">
                </a>
                <h3>
                    <a href="#">Arduino Workshop</a>
                </h3>
                <p>
                    This workshop introduced some beginner topics on Arduino and allowed them to tinker with some Arduino
                    kits. The workshop was presented by member, Bryan Pesquera.
                    <br>
                    May 9, 2018
                </p>
            </div>

            <div class="col-md-6 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="images/github-workshop.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Github Introductory Workshop</a>
                </h3>
                <p>
                    This workshop presented attendants with introductory knowledge on the usage of git and github.
                    Presented by Prof. Humberto Ortiz.
                    <br>
                    May 16, 2018
                </p>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="images/ml-sig-promo-2017.png" alt="">
                </a>
                <h3>
                    <a href="#">Machine Learning Interest Groups Weekly Meetings</a>
                </h3>
                <p>
                    This year we created a committee for a machine learning interest groups. This group held weekly meetings
                    and covered topics such as linear regressions, data science tools, deep learning, and more.
                    All meetings were lead by President Jeffrey Chan.
                    <br>
                    Weekly meetings starting on January, 2017
                </p>
            </div>

            <div class="col-md-6 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="images/ccom-3033-tutoring.jpg" alt="">
                </a>
                <h3>
                    <a href="#">CCOM 3033: Tutoring Sessions</a>
                </h3>
                <p>
                    We held two tutoring sessions to prepare students of the CCOM3033: Introduction to Programming
                    course for their midterm.
                    <br>
                    April 23, 2018 and April 25, 2018
                </p>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="images/dept-research-talk.png" alt="">
                </a>
                <h3>
                    <a href="#">Undergraduate Research Opportunities at our CS Department</a>
                </h3>
                <p>
                    Here our Computer Science Department Faculty gave a brief overview of their research work to
                    students taking the Computer Science Seminar course and any other attendants. They stated whether
                    they were looking for students for their projects.
                    <br>
                    September 4, 2017
                </p>
            </div>

            <div class="col-md-6 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="images/shell-workshop-2.jpg" alt="">
                </a>
                <h3>
                    <a href="https://docs.google.com/presentation/d/1ampEatTGxtpcJsFevL8Y2d_Ncr_01XfRPjfEowily2w/edit?usp=sharing">
                        Introduction to the Shell & Using a Terminal
                    </a>
                </h3>
                <p>
                    We repeated this workshop for the benefit of that year's freshmen. In this workshop we covered basic
                    terminal usage, key concepts encountered when dealing with UNIX scripting, and a short example of a
                    useful script. We focused on details of bash and why it's important to at least be familiar
                    with these skills. The workshop was led by Vice President Alejandro Vega.
                    <br>
                    December 20, 2017
                </p>
            </div>

        </div>
        
        <div class="row">
            
            <div class="col-md-6 img-portfolio">
                <a href="https://docs.google.com/presentation/d/1ampEatTGxtpcJsFevL8Y2d_Ncr_01XfRPjfEowily2w/edit?usp=sharing">
                    <img class="img-responsive img-hover" src="images/taller-shell.png" alt="">
                </a>
                <h3>
                    <a href="https://docs.google.com/presentation/d/1ampEatTGxtpcJsFevL8Y2d_Ncr_01XfRPjfEowily2w/edit?usp=sharing">Introduction to Shell Scripting</a>
                </h3>
                <p>
                    In this workshop we covered basic terminal usage, key concepts encountered when dealing with UNIX scripting, 
                    and a short example of a useful script. We focused on details of bash and why it's important to at least be familiar
                    with these skills. The workshop was led by Board Member Alejandro Vega, and President José Reyes.
                    <br>March 16, 2017
                </p>
            </div>

            <div class="col-md-6 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="images/interviews.jpg" alt="">
                </a>
                <h3>
                    <a href="">A Brief Guide to Collegiate Technical Interviews</a>
                </h3>
                <p>
                    In this workshop we covered techniques and approaches necessary to ace the technical interviews all of our members will
                    encounter at some point in their career.  This workshop was led by ex-President Jonathan Medina.
                    <br>February 9, 2017
                </p>
            </div>

        </div> 
        
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="images/hour-of-code.png" alt="">
                </a>
                <h3>
                    <a href="https://docs.google.com/presentation/d/1tFHqQIW_DF_jfbL9mgt--aQVEWpMEIiLo4-MDAVh0NA/edit?usp=sharing">Hour of Code UPRRP 2017</a>
                </h3>
                <p> AECC-UPRRP and #include&ltgirls&gt collaborated to host an Hour of Code activity during Computer Science Education week.
                    We talked about our organizations, computer science, and why programming is important in our modern lives. We also brought 
                    some graduates from our department to encourage the participants by talking about how far they have gotten thanks to 
                    Computer Science.  We covered some tutorials from <a href="https://code.org/learn">code.org</a> and some tutorials of our own
                    in python and javascript. The workshop was led by Vice-President Israel Dilán, President José Reyes, and Board Member Alejandro Vega.
                    <br>December 8, 2016
                </p>
            </div>  

            <div class="col-md-6 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="images/VR.png" alt="">
                </a>
                <h3>
                    <a href="#">Intro to Virtual and Augmented Reality</a>
                </h3>
                <p> In this workshop we covered the history of VR/AR, the recent rise of VR/AR, and tools and products our members
                    can use to get involved in VR/AR development. We used <a href="https://aframe.io">a-frame</a> to do a quick workshop
                    about webVR. This workshop was led by Pedro Cruz from <a href="http://rokailabs.com/blog/">Rokai Labs</a>.
                    <br>November 30, 2016
                </p>
            </div>

                       
    
        </div> 
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="images/blockchain.png" alt="">
                </a>
                <h3>
                    <a href="#">Blockchain Gauntlet</a>
                </h3>
                <p> Here we covered blockchain technologies, bitcoin, the projects where these technologies are being used, and how our
                    members could benefit and get involved. This workshop was led by José Montero, an AECC member. 
                    <br>November 17, 2016
                </p>
            </div> 
            
            <div class="col-md-6 img-portfolio">
                <a href="http://bit.ly/aecc-intro-linux"> <img class="img-responsive img-hover" src="images/linux-2016.jpg" alt=""> </a>
                <h3>
                    <a href="http://bit.ly/aecc-intro-linux">Introduction to Linux</a>
                </h3>
                <p> In this workshop we covereded Linux, FOSS, the ubiquity of Linux, common Linux distros, Desktop Environments, Window Managers, package managers, the Linux filesystem, common keyboard shortcuts, common shell commands, piping, and redirection. The workshop was led by José Reyes, 2016-2017 President, and Alejandro Vega, 2016-2017 Board Member.
                    <br>October 11, 2016 </p>
            </div>
        </div>
        <!-- Project Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="https://www.facebook.com/pg/aeccupr/photos/?tab=album&album_id=1192844394071280"> <img class="img-responsive img-hover" src="images/unity.png" alt=""> </a>
                <h3>
                    <a href="https://www.facebook.com/pg/aeccupr/photos/?tab=album&album_id=1192844394071280">Unity September</a>
                </h3>
                <p>In this two part workshop we covered the Unity game engine basics the first event and advanced topics in the second event. In the first event we covered player stats, player movement, asset usage, player actions, etc. In the second event we covered Virtual Reality, game progression, items, multiplayer, camera angles, etc. The first workshop was led by Carlo Rodríguez Penney, a UPR-RP ex-alumnus and ex-AECC member, from Batú Games. The second event was led by Arturo, a tech evangelist from Unity. This was the first event of it's kind and size (over 100 attendants) by Unity in Puerto Rico.
                    <br>Unity Basics: September 7, 2016
                    <br>Unity VR September 15, 2016 </p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html"> <img class="img-responsive img-hover" src="images/leonard-talk.jpg" alt=""> </a>
                <h3>
                    <a href="portfolio-item.html">Starting your Career in Silicon Valley</a>
                </h3>
                <p>Our guest speaker Leonard Hinton came to talk to our members about some of the more business oriented topics our members will encounter in their future professional careers. Some of the topics covered were: startup culture, creating your own startup, common mistakes, and more. Leonard also offered a Q/&A session for our members which focused mostly on his experience on doing business in PR
                    <br>August 25, 2016</p>
            </div>
        </div>
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="http://bit.ly/aecc-prog-hack"> <img class="img-responsive img-hover" src="images/intro-p-h-2016.jpg" alt=""> </a>
                <h3>
                    <a href="http://bit.ly/aecc-prog-hack">Introduction to Programming/Hacking</a>
                </h3>
                <p> Our first conference of the year focused on introducing first year students to the AECC, ACM, programming, hacking, what we do at our major, and what you can do with a CS degree. We also showed the students some quick differences between languages, a quick code demo, and some resources to start learning programming.
                    <br>August 18, 2016</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="#"> <img class="img-responsive img-hover" src="images/taller-android-2016.png" alt=""> </a>
                <h3>
                    <a href="#">Basic Android App Workshop</a>
                </h3>
                <p> Introductory Workshop for developing Android applications by Jos&oacute; de la Vega y Luis Albertorio. The workshop covered creating your first Android application (a simple Fahrenheit to Celsius app) and basic usage of the Android Studio IDE
                    <br> February 11, 2016 </p>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html"> <img class="img-responsive img-hover" src="images/taller-unity-2015.png" alt=""> </a>
                <h3>
                        <a href="https://www.facebook.com/pg/aeccupr/photos/?tab=album&album_id=1192844394071280">Unity Workshop</a>
                    </h3>
                <p> Workshop about the Unity game engine by recent graduates of our university who founded their own game development company (Batú Games). The workshop dealt with creating your first simple game using unity and a bit of C# coding. The workshop also covered basic game development concepts such as camera angles, texture, objects, polygons, etc. </p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html"> <img class="img-responsive img-hover" src="images/taller-ios-2015.jpg" alt=""> </a>
                <h3>
                        <a href="#">Introduction to iOS development</a>
                    </h3>
                <p> Conference about iOS app development by Axel Rivera. In this conference we covered the fundamentals of iOS development, why consider iOS, pricing, etc.
                    <br>October 1, 2015 </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="#"> <img class="img-responsive img-hover" src="images/taller-gitwlio-2015.png" alt=""> </a>
                <h3>
                            <a href="portfolio-item.html">Git and Twilio Workshop</a>
                        </h3>
                <p> Introductory Workshop about Git, a version control system, and how to use it. The workshop also covered the usage of Twilio's API by Alfredo Valles and our ex-president, Jonathan Medina. We quickly covered some basic terminal commands as background material before getting into the usage of git commands and how to create and maintain your own repo. We also covered the use of the Twilio API and what you can do with it.
                    <br> September 16, 2015. </p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="#"> <img class="img-responsive img-hover" src="images/taller-qt-2015.png" alt=""> </a>
                <h3>
                            <a href="#">Basic QT Workshop</a>
                        </h3>
                <p> Basic workshop about the QT IDE by Luis Albertorio. In this workshop we covered the basics of working with the qt IDE which is used in the introduction to programming course with C++ at our university. We also covered the functionality of the QT IDE and what it can offer to students.
                    <br>August 26, 2015 </p>
            </div>
        </div>
        <!-- Template for reusing. Use this to add the activities through the year. Please don't delete this
                <div class="row">

                    <div class="col-md-6 img-portfolio">
                        <a href="#">
                            <img class="img-responsive img-hover" src="images/<promo>" alt="">
                        </a>
                        <h3>
                            <a href="#">Title</a>
                        </h3>
                        <p>
                            Description
                            <br>Date
                        </p>
                    </div>

                    <div class="col-md-6 img-portfolio">
                        <a href="#">
                            <img class="img-responsive img-hover" src="images/<promo>" alt="">
                        </a>
                        <h3>
                            <a href="#">Title</a>
                        </h3>
                        <p>
                            Description
                            <br>Date
                        </p>
                    </div>            
    
                </div> 
                -->
    </div>
    <!-- End container for portfolio items-->
    <!-- /.row -->
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row" style="text-align:center">
            <div class="col-lg-12">
                <p>Copyright &copy; AECC-UPRRP 2018
                    <br>Using The Modern Business template by Start Bootstrap</p>
            </div>
        </div>
    </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
